@import './reset.css';
@import './forms.css';
@import './nav.css';

:root {
	--font-size: calc(16px * 1.1);
	--font-size-large: calc(var(--font-size) * 1.25);
	font-size: var(--font-size);
	font-family: SF Pro Text, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue,
		Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
		Noto Color Emoji;

	--space: 1rem;

	color-scheme: light dark;
	transition-duration: 125ms;
	transition-timing-function: ease-out;
}

body {
	display: grid;
	grid-template-rows: min-content 1fr min-content;
}

header,
footer {
	padding: calc(var(--space) * 1.5);
	display: grid;
	gap: var(--space);
	align-items: center;
	width: 100%;
	max-width: 100ch;
	place-self: center;
}

main {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 70ch;
	/* place-self: center; */
	justify-self: center;
	gap: var(--space);
	padding-inline: calc(var(--space) * 1.5);
}

/* main:has(> .hero) {
	place-self: center;
} */

article,
section {
	display: flex;
	flex-direction: column;
	gap: var(--space);
}

h1 {
	line-height: 1em;
	font-weight: 600;
}

h2 {
	font-weight: 600;
	line-height: 1.25;
}

p {
	line-height: 1.5;
	font-weight: 500;
	opacity: 0.8;
}

nav {
	display: grid;
	gap: var(--space);
}

a {
	color: inherit;
	text-decoration: none;
}

p > a {
	text-decoration: underline;
}

form {
	display: grid;
	gap: var(--space);
}

/* Utility */

.center {
	text-align: center;
	place-content: center;
}

.surface {
	filter: brightness(120%);
	padding: calc(var(--space) * 1);
	position: relative;
	display: flex;
	flex-direction: column;
	gap: calc(var(--space) * 0.5);
	overflow: hidden;
	border-radius: var(--space);
}

.surface:before {
	content: '';
	opacity: 0.25;
	background-color: ButtonFace;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

@media only screen and (min-width: 667px) {
	:root {
		--space: 1.25rem;
	}

	header,
	footer {
		display: flex;
		justify-content: space-between;
	}

	nav {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}
}

@media only screen and (min-width: 960px) {
	:root {
		--space: 1.5rem;
	}
}
